<%layout("/layouts/boilerplate")-%>
<body>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/listings/<%= Listing._id %>?_method=PUT" method="POST" class="bg-white p-4 rounded shadow needs-validation" novalidate enctype="multipart/form-data">
          <h2 class="text-center mb-4">Edit Your Listing</h2>

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="listing[title]" value="<%= Listing.title %>" required>
            <div class="valid-feedback">Title Looks Good</div>
          </div>
          
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" name="listing[description]" rows="4" required><%= Listing.description %></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" id="image" class="form-control" name="listing[image]" value="<%= Listing.image.url %>" required >
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" id="price" class="form-control" name="listing[price]" value="<%= Listing.price %>" required>
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" class="form-control" name="listing[country]" value="<%= Listing.country %>" required>
            <div class="invalid-feedback">Country Name should be valid</div>
          </div>

          <div class="mb-4">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-control" name="listing[location]" value="<%= Listing.location %>" required>
            <div class="invalid-feedback">Location should be valid</div>
          </div>

          <div class="mb-4">
              <label for="category" class="form-label">Category</label>
              <select class="form-select" id="category" name="listing[category]" required>
                <option value="" disabled selected>Select a category</option>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Camping">Camping</option>
                <option value="Pools">Amazing Pools</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Beach">Beach</option>
                <option value="Domes">Domes</option>
              </select>
              <div class="invalid-feedback">Please select a category</div>
            </div>


          <button type="submit" class="btn btn-primary w-100">Update</button>
        </form>
      </div>
    </div>
  </div>
</body>
